.venv/
env/
.git
.gitignore
.vscode
*.lock
resourses/
__pycache__/
web/media/
celerybeat-schedule
*.log
*.zip
tmp/
*.session-journal
pyrightconfig.json
.env.example
.run_telethon.bash
create_session.py
