amqp==5.1.1
asgiref==3.7.2
astroid==2.15.6
bcrypt==4.0.1
billiard==3.6.4.0
black==23.3.0
celery==5.2.7
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.6
cssbeautifier==1.14.8
dill==0.3.7
Django==4.2.1
django-debug-toolbar==4.1.0
django-easy-logging==0.60
djlint==1.30.0
EditorConfig==0.12.3
flake8==6.0.0
gunicorn==20.1.0
html-tag-names==0.1.2
html-void-elements==0.1.0
isort==5.12.0
jsbeautifier==1.14.8
json5==0.9.14
kombu==5.2.4
lazy-object-proxy==1.9.0
loguru==0.7.0
mccabe==0.7.0
mypy==1.3.0
mypy-extensions==1.0.0
mysqlclient==2.1.1
nodeenv==1.8.0
packaging==23.1
passlib==1.7.4
pathspec==0.11.1
platformdirs==3.5.1
prompt-toolkit==3.0.38
pyaes==1.6.1
pyasn1==0.5.0
pycodestyle==2.10.0
pyflakes==3.0.1
pylint==2.17.5
pyright==1.1.320
python-decouple==3.8
python-multipart==0.0.6
pytz==2023.3
PyYAML==6.0
redis==4.5.5
regex==2023.5.5
rsa==4.9
six==1.16.0
sqlparse==0.4.4
Telethon==1.29.2
tomlkit==0.12.1
tqdm==4.65.0
types-pytz==2023.3.0.0
typing_extensions==4.6.2
vine==5.0.0
wcwidth==0.2.6
wrapt==1.15.0
