{% extends 'base.html' %} {% block content %}

<!-- <link rel="stylesheet" href="../style.css" /> -->
<div class="row">
  <div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Создать Объявление</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form
        id="announcement-form"
        name="announcement-form"
        method="post"
        enctype="multipart/form-data"
        action="/announcement/add/"
      >
        <div class="card-body">
          <div class="form-group">
            <label for="name">Название авто</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Введите название авто"
              required
            />
          </div>
          <div class="form-group">
            <label for="price">Цена</label>
            <input
              type="text"
              class="form-control"
              id="price"
              name="price"
              placeholder="Введите цену"
              required
            />
          </div>
          <div class="form-group">
            <label for="status">Текущий статус</label>
            <input
              type="text"
              class="form-control"
              id="status"
              name="status"
              placeholder="Введите текущий статус"
              required
            />
          </div>
          <div class="form-group">
            <label for="tags">Теги</label>
            <select
              class="select2bs4"
              id="tags"
              name="tags"
              multiple="multiple"
              style="width: 100%"
              data-placeholder="Выберите теги"
              required
            >
              {% for tag in tags %}
              <option value="{{ tag.id }}">{{ tag.name }}</option>
              {% endfor %}
            </select>
            <small class="form-text text-muted">
              Если нужного тега нет, то его можно создать
            </small>
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#createTagModal"
            >
              Создать тег
            </button>
          </div>

          <div class="form-group">
            <label for="file-upload">Загрузка изображений и видео</label>
            <div class="dropzone" id="file-upload">
              <div class="dz-message" data-dz-message>
                <span>Перетащите файлы сюда или нажмите для выбора</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="files">Choose files:</label>
            <input
              type="file"
              class="form-control-file"
              id="files"
              name="files"
              multiple
            />
          </div>
          <!-- <div class="form-group">
            <label>Or drag and drop files here:</label>
            <div id="drop-zone" class="border p-4 text-center">
              Drop files here
            </div>
          </div>
          <div id="preview" class="row mt-4"></div> -->

          <!-- <div class="form-group">
            <label for="media">
              Загрузить фотографии / видео (drag-and-drop)
            </label>
            <div class="container">
              <div id="drop-area" class="drop-area">
                <input
                  type="file"
                  id="upload-button"
                  name="media"
                  multiple
                  accept="image/*,video/*"
                  required
                />
                <label for="upload-button">
                  <i class="fa-solid fa-upload"></i>
                  &nbsp; Choose Or Drop Photos
                </label>
              </div>
              <div id="error"></div>
              <div id="image-display"></div>
            </div>
            <div id="thumbnailsContainer" class="row">
              Здесь будут отображаться миниатюры
            </div>
          </div> -->

          <div class="form-group">
            <label>Время публикации:</label>
            <div
              class="input-group date"
              id="reservationdatetime"
              data-target-input="nearest"
            >
              <input
                type="text"
                class="form-control datetimepicker-input"
                data-target="#reservationdatetime"
                id="date_time"
                static
                name="date_time"
                required
              />
              <div
                class="input-group-append"
                data-target="#reservationdatetime"
                data-toggle="datetimepicker"
              >
                <div class="input-group-text">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Опубликовать</button>
        </div>
      </form>
    </div>
    <!-- /.card -->
  </div>
</div>

<div
  class="modal fade"
  id="createTagModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createTagModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createTagModalLabel">Создать тег</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="createTagForm">
          <div class="form-group">
            <label for="tagName">Название тега</label>
            <input
              type="text"
              class="form-control"
              id="tagName"
              name="tagName"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Отмена
        </button>
        <button type="button" class="btn btn-primary" id="createTagButton">
          Создать
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <script src="/static/js/drag_n_drop.js"></script> -->
<script src="/static/plugins/select2/js/select2.full.min.js"></script>
<script src="/static/js/daterangepicker.js"></script>
<script src="/static/plugins/dropzone/min/dropzone.min.js"></script>
<script>
  Dropzone.autoDiscover = false;
  const fileUpload = new Dropzone("#file-upload", {
    url: "#",
    autoProcessQueue: false,
    paramName: "file",
    maxFilesize: 10,
    acceptedFiles: "image/*,video/*",
    thumbnailWidth: 150,
    thumbnailHeight: 150,
    addRemoveLinks: true,
    dictRemoveFile: "Удалить",
    init: function () {
      this.on("thumbnail", function (file, dataUrl) {
        file.previewElement.classList.add("img-thumbnail");
      });

      const announcementForm = document.getElementById("announcement-form");
      announcementForm.addEventListener("submit", (event) => {
        event.preventDefault();
        event.stopPropagation();

        if (this.getQueuedFiles().length > 0) {
          this.processQueue();
        } else {
          this.uploadFiles([]);
        }
      });

      this.on("sendingmultiple", (files, xhr, formData) => {
        const formElements = announcementForm.elements;
        for (let i = 0; i < formElements.length; i++) {
          if (formElements[i].name) {
            formData.append(formElements[i].name, formElements[i].value);
          }
        }
      });

      this.on("successmultiple", (files, response) => {
        // Обработка успешной отправки формы
        console.log("Форма успешно отправлена");
      });

      this.on("errormultiple", (files, errorMessage) => {
        // Обработка ошибок при отправке формы
        console.error("Ошибка при отправке формы:", errorMessage);
      });
    },
  });
</script>
