{% load static %}
<div class="modal fade"
     id="createTagModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="createTagModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createTagModalLabel">Создать тег</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="createTagForm"
              name="createTagForm"
              method="post"
              action="{% url 'tag-add' %}">
          {% csrf_token %}
          <div id="form-card-body" class="card-body">
            {% include "tag/create/form_data/name.html" %}
            {% include "tag/create/form_data/type.html" %}
            {% include "tag/create/form_data/telegram_channel.html" %}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" id="createTagButton">Создать</button>
      </div>
    </div>
  </div>
</div>
<script src="{% static "js/tag/create/formHandlers.js" %}"></script>
