{% extends "base.html" %}
{% block content %}
  {% load static %}
  <style>
  .hidden { font-style: italic; }
  [data-has-channel="true"]::after {
    content: " (Есть ТГ канал)";
    font-size: smaller;
    color: gray;
  }
  .select2-results .tag-emoji {
  float: right;
}

  </style>
  <link rel="stylesheet" href="{% static "css/dropzone.css" %}" />
  <div class="container-fluid">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Создание объявления</h3>
            </div>
            <form id="announcement-form"
                  name="announcement-form"
                  method="post"
                  enctype="multipart/form-data"
                  action="{{ action }}">
              {% csrf_token %}
              <div id="form-card-body" class="card-body">
                {% include "announcement/create/form_data/name.html" %}
                {% include "announcement/create/form_data/text.html" %}
                {% include "announcement/create/form_data/price.html" %}
                {% include "announcement/create/form_data/status.html" %}
                {% include "announcement/create/form_data/tags.html" %}
                {% include "announcement/create/form_data/note.html" %}
                {% include "announcement/create/form_data/media.html" %}
                {% include "announcement/create/form_data/publication_date.html" %}
                {% include "announcement/create/form_data/timezone.html" %}
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Опубликовать</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "announcement/includes/create_tag_modal.html" %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"
          integrity="sha512-U2WE1ktpMTuRBPoCFDzomoIorbOyUv0sP8B+INA3EzNAhehbzED1rOJg6bCqPf/Tuposxb5ja/MAUnC8THSbLQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"
          integrity="sha512-mh+AjlD3nxImTUGisMpHXW03gE6F4WdQyvuFRkjecwuWLwD2yCijw4tKA3NsEFpA1C3neiKhGXPSIGSfCYPMlQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
          integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>
  <script src="/static/js/dropzone.js"></script>
  <script src="/static/js/tag_creation.js"></script>
  <script src="/static/js/datetime_datepicker.js"></script>
  <script src="/static/js/timezone.js"></script>
  <script src="/static/js/auto_resize.js"></script>
  <script>
  $(document).ready(function () {
    function formatTag (tag) {
    var $tag = $("<span>").text(tag.text).addClass("tag-text");
    var $emoji = $("<span>").addClass("tag-emoji");
    if ($(tag.element).data('type') === 'hidden') {
      $emoji.text(" 🕶️");
    } else {
      $emoji.text(" 👁️");
    }
    var tagChannelData = $(tag.element).data('channel-id');
    if (tagChannelData && tagChannelData !== "None") {
      $emoji.append(" 📢");
    }
    $tag.append($emoji);
    return $tag;
  };

  let tagSelect = $("#tags").select2({
    theme: "bootstrap4",
    templateResult: formatTag,
    templateSelection: formatTag
  });
    const myDropzoneInstance = new MyDropzone();
    myDropzoneInstance.initialize();
    // Event handler for form submission
    $("#createTagForm").submit(function (event) {
      event.preventDefault();
      console.log("Form submitted");
      createTag();
    });

    // Event handler for "Create" button click
    $("#createTagButton").click(function () {
      console.log("Create button clicked");
      createTag();
    });
    //let tagSelect = $("#tags").select2({
    //  theme: "bootstrap4",
    //  formatNoMatches: "Nothing found",
    //});
  });
  let shouldSubmitForm = false;
  let existingFiles = []; // Массив для хранения уже существующих файлов
  let isExistingFileBeingAdded = false;
  </script>
{% endblock content %}
