{% extends "_base.html" %}
{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static "css/dropzone.css" %}" />
  <div class="container-fluid">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Создание объявления</h3>
            </div>
            <form id="announcement-form"
                  name="announcement-form"
                  method="post"
                  enctype="multipart/form-data"
                  action="{{ action }}">
              {% csrf_token %}
              <div id="form-card-body" class="card-body">
                {% include "announcement/create/form_data/name.html" %}
                {% include "announcement/create/form_data/text.html" %}
                {% include "announcement/create/form_data/price.html" %}
                {% include "announcement/create/form_data/status.html" %}
                {% include "announcement/create/form_data/tags.html" %}
                {% include "announcement/create/form_data/note.html" %}
                {% include "announcement/create/form_data/media.html" %}
                {% include "announcement/create/form_data/publication_date.html" %}
                {% include "announcement/create/form_data/timezone.html" %}
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Опубликовать</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "announcement/includes/create_tag_modal.html" %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"
          integrity="sha512-U2WE1ktpMTuRBPoCFDzomoIorbOyUv0sP8B+INA3EzNAhehbzED1rOJg6bCqPf/Tuposxb5ja/MAUnC8THSbLQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"
          integrity="sha512-mh+AjlD3nxImTUGisMpHXW03gE6F4WdQyvuFRkjecwuWLwD2yCijw4tKA3NsEFpA1C3neiKhGXPSIGSfCYPMlQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>
  <script src="{% static 'js/dropzone.js' %}"></script>
  <script src="{% static 'js/datetime_datepicker.js' %}"></script>
  <script src="{% static 'js/timezone.js' %}"></script>
  <script src="{% static 'js/auto_resize.js' %}"></script>
  <script>
  $(document).ready(function () {
    const myDropzoneInstance = new MyDropzone();
    myDropzoneInstance.initialize();
  });
  </script>
{% endblock content %}
