{% load static %}
<link rel="stylesheet" href="{% static "css/tag.css" %}" />
<div class="form-group">
  <input type="hidden" id="selected-tags" name="tags">
  <label for="tags">Теги</label>
  <div id="tags">
    {% for tag in tags %}
      <div class="tag-item d-inline-flex align-items-center m-1 p-1 {% if tag in announcement_tags %}selected{% endif %}"
           data-id="{{ tag.id }}"
           data-type="{{ tag.type }}"
           data-channel-id="{{ tag.channel_id }}">
        <span class="tag-name me-1">{{ tag.name }}
          {% if tag.type == "hidden" %}
            🕶️
          {% else %}
            👁️
          {% endif %}
          {% if tag.channel_id %}📢{% endif %}
        </span>
        <div class="tag-button d-flex justify-content-center align-items-center">
          {% if tag in announcement_tags %}
            ✓
          {% else %}
            +
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  <small class="form-text text-muted mb-3">
    Если нужного тега нет, то его можно <u><a href="{% url 'tag-add' %}">создать тут</a></u>. |
    👁️ - Видимый тег, 🕶️ - Невидимый тег, 📢 - Есть ТГ канал
  </small>
</div>
<script src="{% static "js/tag_selection.js" %}"></script>
