<div class="form-group">
  <label>Время публикации:</label>
  <div
    class="input-group date"
    id="reservationdatetime"
    data-target-input="nearest"
  >
    <input
      type="text"
      class="form-control datetimepicker-input"
      data-target="#reservationdatetime"
      id="publication_date"
      static
      name="publication_date"
      required
    />
    <div
      class="input-group-append"
      data-target="#reservationdatetime"
      data-toggle="datetimepicker"
    >
      <div class="input-group-text">
        <i class="fa fa-calendar"></i>
      </div>
    </div>
  </div>
</div>
