{% extends "base.html" %}
{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static "css/dropzone.css" %}" />
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="container-fluid">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Редактирование объявления</h3>
            </div>
            <form id="announcement-form"
                  name="announcement-form"
                  method="post"
                  enctype="multipart/form-data"
                  action="{{ action }}">
              {% csrf_token %}
              <div id="form-card-body" class="card-body">
                {% include "announcement/edit/form_data/name.html" %}
                {% include "announcement/edit/form_data/text.html" %}
                {% include "announcement/edit/form_data/price.html" %}
                {% include "announcement/edit/form_data/status.html" %}
                {% include "announcement/edit/form_data/tags.html" %}
                {% include "announcement/edit/form_data/note.html" %}
                {% include "announcement/edit/form_data/media.html" %}
                {% include "announcement/edit/form_data/added_date.html" %}
                {% include "announcement/edit/form_data/timezone.html" %}
              </div>
              <div class="card-footer">
                <button type="submit"
                        class="btn btn-primary mr-2"
                        id="editButton"
                        data-toggle="tooltip"
                        data-placement="top"
                        data-announcement="{{ announcement }}"
                        title="">Отредактировать</button>
                <button type="button"
                        class="btn btn-primary republish-button mr-2"
                        id="republishButtonModal"
                        data-toggle="modal"
                        data-target="#republishModal">Переопубликовать</button>
                <button type="button"
                        class="btn btn-primary"
                        id="deleteModalButton"
                        data-announcement-id="{{ announcement_id }}">Удалить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "announcement/includes/create_tag_modal.html" %}
  {% include "announcement/includes/delete_modal.html" %}
  {% include "announcement/includes/republish_modal.html" %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"
          integrity="sha512-U2WE1ktpMTuRBPoCFDzomoIorbOyUv0sP8B+INA3EzNAhehbzED1rOJg6bCqPf/Tuposxb5ja/MAUnC8THSbLQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"
          integrity="sha512-mh+AjlD3nxImTUGisMpHXW03gE6F4WdQyvuFRkjecwuWLwD2yCijw4tKA3NsEFpA1C3neiKhGXPSIGSfCYPMlQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>
  <script src="/static/js/dropzone.js"></script>
  <script src="/static/js/auto_resize.js"></script>
  <script>
  let myDropzoneInstance;

  $(document).ready(function () {
    console.log("Document ready event...");

    $(document).on('click', '.republish-button', function () {
      console.log("Click on republish-button...");
      let announcement = getAnnouncementData();
      console.log("Announcement: ", announcement);
      let announcementId = announcement[0].pk;
      let csrfToken = getCsrfToken();
      console.log("CSRF Token: ", csrfToken);

      $("#republishModal").modal('show');
      $("#republishButton").off('click').click(function () {
        republishAnnouncement(announcementId, csrfToken);
      });
    });


    console.log("DOMContentLoaded event...");
    myDropzoneInstance = new MyDropzone();
    myDropzoneInstance.initialize();

    let announcement = getAnnouncementData();
    console.log("Announcement: ", announcement);

    if (announcement != null) {
      populateFormFields(announcement);
      populateExistingFiles(myDropzoneInstance, announcement);
    }

  function getAnnouncementData() {
      console.log("Getting announcement data...");
      let announcement = JSON.parse('{{announcement|escapejs|safe}}');
      console.log("Announcement data: ", announcement);
      return announcement;
    }

  function getCsrfToken() {
      console.log("Getting CSRF token...");
      let cookie = document.cookie;
      let csrfToken = cookie.substring(cookie.indexOf('=') + 1);
      console.log("CSRF Token: ", csrfToken);
      return csrfToken;
    }


  function republishAnnouncement(announcementId, csrfToken) {
      console.log("Republish button clicked");
      console.log("Announcement ID: ", announcementId);
      console.log("CSRF Token: ", csrfToken);

      let republishDatetime = $("#new_publication_date").val();
      let timezone = $("#timezone").val();

      let formData = createFormData(republishDatetime, timezone);

      $.ajax({
        url: '/announcements/republish/' + announcementId + '/',
        type: 'POST',
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", csrfToken);
        },
        data: formData,
        processData: false,
        contentType: false,
        success: function () {
          window.location.href = "/";
        },
        error: function () {
          alert('Произошла ошибка при переопубликовании объявления');
        }
      });

      $("#republishModal").modal('hide');
    }

  function populateFormFields(announcement) {
  let announcementFields = announcement[0].fields;
  document.querySelector("input#name").value = announcementFields.name;
  document.querySelector("textarea#text").value = announcementFields.text;
  var textArea = document.querySelector("textarea#text");
  window.autoResize(textArea);
  document.querySelector("input#price").value = announcementFields.price;
  document.querySelector("input#status").value = announcementFields.status;
  document.querySelector("input#note").value = announcementFields.note;

  let pubDateWithClientTimezone = new Date(announcementFields.publication_date);
  console.log(pubDateWithClientTimezone);
  let day = pubDateWithClientTimezone.getDate().toString().padStart(2, "0");
  let month = (pubDateWithClientTimezone.getMonth() + 1).toString().padStart(2, "0");
  let year = pubDateWithClientTimezone.getFullYear();
  let hours = pubDateWithClientTimezone.getHours().toString().padStart(2, "0");
  let minutes = pubDateWithClientTimezone.getMinutes().toString().padStart(2, "0");

  document.querySelector(
    "input#publication_date"
  ).value = `${day}.${month}.${year} ${hours}:${minutes}`;
  console.log("Publication date: " + document.querySelector("input#publication_date").value);
}


  function populateExistingFiles(myDropzoneInstance, announcement) {
  let media = JSON.parse("{{media|escapejs|safe}}");
  console.log(media);

  if (media) {
    initialFileCount = media.length;
    let mediaPromises = media.map(function (mediaFile) {
      mediaFileFields = mediaFile;

      let mockFile = {
        name: "/media/" + mediaFileFields.file,
        size: mediaFileFields.size,
        type: mediaFileFields.media_type,
        isMock: true,
        uploadId: mediaFile.file,
      };

      let absoluteURL;
      if (typeof mediaFileFields.file === 'string') {
        absoluteURL = new URL("/media/" + mediaFileFields.file, window.location.origin);
      }

      if (!myDropzoneInstance.uploadIds.find((existingFile) => existingFile.name === mockFile.name)) {
        document.querySelector("#existing-files").value += mediaFileFields.file + ",";
        myDropzoneInstance.uploadIds.push(mockFile.uploadId);
      }

      return loadFileAndDisplay(mockFile, absoluteURL.href, myDropzoneInstance);
    });

    Promise.all(mediaPromises)
  .then((loadedFiles) => {
    loadedFiles.forEach((file) => {
      if (file.src) {
        myDropzoneInstance.displayExistingFile(file, file.src);
        myDropzoneInstance.myDropzone.files.push(file);
      } else {
        console.error('Не удалось загрузить файл: ', file);
      }
    });
  })
  .catch((error) => {
    console.error(error);
    let mockFile = {
      name: "Ошибка",
      size: 0,
      type: "error",
      isMock: true,
    };
    myDropzoneInstance.displayExistingFile(mockFile, 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.76Kw_Xh3DRaivy0fylLF4QHaF7%26pid%3DApi&f=1&ipt=5c275cadab968320e382b595716e42df5fba335c0fd3a6889fd73364fefb9357&ipo=images');
  });

  }
}

  function createFormData(republishDatetime, timezone) {
    console.log("Creating form data...");

    let formData = new FormData();
    formData.append('datetime', republishDatetime);
    formData.append('timezone', timezone);

    // Добавить файлы из формы Dropzone
    let uploadIdsString = myDropzoneInstance.getOrderedUploadIds();
    formData.append('uploadIds', uploadIdsString);

    var existingFilesValue = document.querySelector("#existing-files").value;
    console.log("Existing files value: " + existingFilesValue);

    // Проверка наличия файлов в formData
    if (!formData.has('media') && existingFilesValue.trim() == "") {
      console.log("No files for upload, displaying error");
      alert("Загрузка файла обязательна!");
      return;
    }

    // Добавить данные из формы 'announcement-form'
    let formElement = document.querySelector('#announcement-form');
    let formInputs = formElement.querySelectorAll('input, textarea, select');
    for(let i = 0; i < formInputs.length; i++){
      formData.append(formInputs[i].name, formInputs[i].value);
    }

    return formData;
  }

 function loadFileAndDisplay(file, url, myDropzoneInstance) {
  return new Promise((resolve, reject) => {
    if (file.type.startsWith('PHOTO')) {
      // Загружаем и отображаем изображение
      let image = new Image();
      image.src = url;
      image.onload = function() {
        resolve({...file, src: this.src});
      };
      image.onerror = function() {
        reject('Ошибка при загрузке изображения: ' + url);
      };
    } else if (file.type.startsWith('VIDEO')) {
      // Загружаем и отображаем видео
      let video = document.createElement('video');
      video.src = url;
      video.onloadeddata = function() {
        resolve({...file, src: this.src});
      };
      video.onerror = function() {
        reject('Ошибка при загрузке видео: ' + url);
      };
    } else {
      // Неизвестный тип файла
      reject('Неизвестный тип файла: ' + file.type);
    }
  });
}
  });
  </script>
{% endblock content %}
