{% extends "_base.html" %}
{% block content %}
  {% load static %}
  <div class="container-fluid">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          {% include "includes/django_messages.html" %}
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Создание тега</h3>
            </div>
            <form id="tag-form"
                  name="tag-form"
                  method="post"
                  action="{% url 'tag-add' %}">
              {% csrf_token %}
              <div id="form-card-body" class="card-body">
                {% include "tag/create/form_data/name.html" %}
                {% include "tag/create/form_data/type.html" %}
                {% include "tag/create/form_data/telegram_channel.html" %}
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Создать</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static "js/tag/general/validationFunctions.js" %}"></script>
  <script src="{% static "js/tag/create/formHandlers.js" %}"></script>
  <script src="{% static 'js/tag/general/message_fadeout.js' %}"></script>
{% endblock content %}
