{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css"
  integrity="sha512-jU/7UFiaW5UBGODEopEqnbIAHOI8fO6T99m7Tsmqs2gkdujByJfkCbbfPSN4Wlqlb9TGnsuC0YgUgWkRBK7B9A=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: #F7F7F7;
  min-height: 150px;
  padding: 54px 54px;
  box-sizing: border-box;
  text-align: center;
}

.dropzone .dz-message {
  color: #999999;
  font-weight: 500;
  font-size: 1.2em;
}

.dropzone .dz-message span {
  display: block;
  font-size: 0.8em;
}

.dropzone .dz-preview {
  transition: transform .11s;
  will-change: transform;
  border: none; /* Удаляем окантовку вокруг превью */
}

  .dropzone .dz-preview.dz-image-preview {
  background: transparent !important;
}

.dropzone .dz-preview:hover {
  transform: scale(1.2);
}

.dropzone .dz-preview.dz-image-preview:hover {
  background: transparent;
  opacity: 1;
}

.dropzone .dz-preview.dz-image-preview:hover .dz-image img {
  opacity: 1;
  -webkit-filter: none;
  filter: none;
}

/* Удаляем окантовку вокруг кнопки удаления */
.dropzone .dz-preview .dz-remove {
  border: none;
}
</style>

  <div class="container-fluid">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Создать Объявление</h3>
            </div>
            <form
              id="announcement-form"
              name="announcement-form"
              method="post"
              enctype="multipart/form-data"
              action="/announcement/add/"
            >
              <div id="form-card-body" class="card-body">
                {% include 'announcement/form_data/name.html' %}
                {% include 'announcement/form_data/text.html' %}
                {% include 'announcement/form_data/price.html' %}
                {% include 'announcement/form_data/status.html' %}
                {% include 'announcement/form_data/tags.html' %}
                {% include 'announcement/form_data/note.html' %}
                {% include 'announcement/form_data/media.html' %}
                {% include 'announcement/form_data/publication_date.html' %}
                <div class="form-group">
                  <input type="hidden" id="timezone" name="timezone">
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">
                  Опубликовать
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'announcement/create_tag_modal.html' %}
<script src="/static/plugins/select2/js/select2.full.min.js"></script>
<script src="/static/js/daterangepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone.min.js"></script>
<script src="/static/js/dropzone.js"></script>
<script src="/static/js/tag_creation.js"></script>
<script src="/static/js/datetime_datepicker.js"></script>
<script>
  document.getElementById('timezone').value = Intl.DateTimeFormat().resolvedOptions().timeZone;
</script>
{% endblock content %}
