{% extends "base.html" %}
{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/links.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
  <link rel="stylesheet" href="{% static 'css/table.css' %}">
  <link rel="stylesheet" href="{% static 'css/thumbnail.css' %}">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="row">
    <div class="col-md-12">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <a type="button"
             href="{% url 'announcement-add' %}"
             class="btn btn-primary ml-n1">
            <i class="fas fa-plus"></i>
            Добавить Объявление
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      {% include "includes/django_messages.html" %}
      <div class="card mx-0">
        <!-- /.card-header -->
        <div class="card-body">
          <!-- Фильтры -->
          <div class="row mb-3">
            <div class="col-md-4">
              <label for="nameFilter">Фильтр по названию:</label>
              <input type="text"
                     class="form-control"
                     id="nameFilter"
                     autocomplete="off"
                     placeholder="Введите название" />
            </div>
            <div class="col-md-4">
              <label for="tagFilter">Фильтр по тегам:</label>
              <input type="text"
                     class="form-control"
                     id="tagFilter"
                     autocomplete="off"
                     placeholder="Введите тег" />
            </div>
            <div class="col-md-4">
              <label for="statusFilter">Фильтр по статусу:</label>
              <select name="statusFilter" id="statusFilter" class="form-control">
                <option value="all" selected>Все</option>
                <option value="published">Опубликованные</option>
                <option value="waiting">Ожидают публикации</option>
                <option value="takenoff">Снятые с публикации</option>
              </select>
            </div>
          </div>
          <!-- Таблица -->
          <table class="table table-hover table-bordered" id="announcementsTable">
            <thead>
              <tr>
                <th>Название</th>
                <th>Текст</th>
                <th>Теги</th>
                <th>Медиа</th>
                <th>Действие</th>
                <th>Статус публикации</th>
              </tr>
            </thead>
            <tbody>
              {% if announcements|length > 0 %}
                {% for announcement in announcements %}
                  <tr class="announcement-row {% if not announcement.is_active %}table-secondary{% endif %}"
                      data-id="{{ announcement.id }}"
                      data-announcement-id="{{ announcement.id }}"
                      data-published-message-link="{{ announcement.published_message_link }}">
                    <td>
                      <a href="{% url 'announcement-edit' announcement.id %}" class="text">
                        <i class="fas fa-pencil-alt"></i>
                        {{ announcement.name }}
                      </a>
                    </td>
                    <td data-toggle="tooltip"
                        data-placement="top"
                        title="{{ announcement.text }}">{{ announcement.text|truncatechars:50 }}</td>
                    <td>
                      {% for tag in announcement.tags.all %}
                        <a href="{% url 'tag-edit' tag.id %}"
                           class="tag-link no-wrap"
                           data-toggle="tooltip"
                           title="{{ tag.name }}">
                          {{ tag.name|truncatechars:20 }}
                          {% if tag.type == 'hidden' %}
                            <span class="tag-icon">🕶️</span>
                          {% else %}
                            <span class="tag-icon">👁️</span>
                          {% endif %}
                          {% if tag.channel_id and tag.channel_id != "None" %}<span class="tag-icon">📢</span>{% endif %}
                        </a>
                      {% endfor %}
                    </td>
                    <td>
                      {% for media in announcement.media.all %}
                        <span class="media-links"
                              data-toggle="modal"
                              data-target="#mediaModal"
                              data-src="{{ media.file.url }}"
                              data-media-index="{{ loop.index0 }}"
                              data-announcement-id="{{ announcement.id }}">
                          {% if media.media_type == 'PHOTO' %}
                            <img src="{{ media.file.url }}"
                                 class="img-thumbnail thumbnail-image"
                                 alt="image"
                                 loading="lazy"
                                 width="50"
                                 height="50" />
                          {% elif media.media_type == 'VIDEO' %}
                            <div class="video-wrapper">
                              <video class="img-thumbnail thumbnail-video">
                                <source src="{{ media.file.url }}" type="video/mp4" />
                              </video>
                              <i class="fas fa-video fa-lg video-icon"></i>
                            </div>
                          {% endif %}
                        </span>
                      {% endfor %}
                    </td>
                    <td class="vertical-align-top">
                      <button type="button"
                              class="btn btn-primary btn-sm btn-block republish-button margin-bottom-5px"
                              title="Переопубликовать">
                        <i class="fa fa-refresh"></i> Переопубликовать
                      </button>
                      <button type="button"
                              class="btn btn-warning btn-sm btn-block takeoff-button"
                              title="Снять с публикации">
                        <i class="fa fa-ban"></i> Снять с публикации
                      </button>
                    </td>
                    <td id="status_{{ announcement.id }}"
                        class="text-center vertical-align-middle">
                      <div>
                        <i class="fa fa-circle status-icon"
                           id="status_icon_{{ announcement.id }}"></i>
                        <span id="status_text_{{ announcement.id }}" class="status-text">{{ announcement.status }}</span>
                        <button type="button"
                                class="btn btn-outline-dark btn-sm copy-button"
                                title="Скопировать">
                          <i class="fa fa-copy"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="100%" class="text-center py-5">
                    <i class="fa fa-frown-o fa-3x mb-3" aria-hidden="true"></i>
                    <h4>Нет доступных объявлений</h4>
                    <p class="text-muted">Новые объявления скоро появятся. Пожалуйста, проверьте позже.</p>
                  </td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        {% include "announcement/includes/pagination.html" %}
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  {% include "announcement/includes/modal_viewer.html" %}
  {% include "announcement/includes/republish_modal.html" %}
  <script src="{% static "js/media_viewer.js" %}"></script>
  <script src="{% static 'js/pagination_and_filters.js' %}"></script>
  <script src="{% static 'js/status_update.js' %}"></script>
  <script src="{% static 'js/announcement_actions.js' %}"></script>
  <script src="{% static 'js/tag/general/message_fadeout.js' %}"></script>
  <script>
  $(document).ready(function () {
    console.log("ready!");
     $("#statusFilter").val("all");
    updateStatuses();
    setInterval(updateStatuses, 60 * 1000);
    $(".copy-button").click(function() {
    var announcementRow = $(this).closest(".announcement-row");
    console.log(announcementRow);
    var publishedMessageLink = announcementRow.attr("data-published-message-link"); // Изменен этот ряд
    console.log("publishedMessageLink: " + publishedMessageLink);
    var tempElement = document.createElement("textarea");
    tempElement.value = publishedMessageLink;
    document.body.appendChild(tempElement);
    tempElement.select();
    try {
        document.execCommand("copy");
    } catch (err) {
        alert("Не удалось скопировать ссылку: " + err);
    }

    document.body.removeChild(tempElement);
});
handlePaginationEvents();
  });
  $(document).ajaxStop(function () {
    console.log("ajaxStop!");
    handlePaginationEvents();
  });
  </script>
{% endblock content %}
