{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="/static/css/dropzone.css" />
<div class="container-fluid">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Создание объявления</h3>
          </div>
          <form
            id="announcement-form"
            name="announcement-form"
            method="post"
            enctype="multipart/form-data"
            action="{{ action }}"
          >
            {% csrf_token %}
            <div id="form-card-body" class="card-body">
              {% include 'announcement/form_data/name.html' %}
              {% include 'announcement/form_data/text.html' %}
              {% include 'announcement/form_data/price.html' %}
              {% include 'announcement/form_data/status.html' %}
              {% include 'announcement/form_data/tags.html' %}
              {% include 'announcement/form_data/note.html' %}
              {% include 'announcement/form_data/media.html' %}
              {% include 'announcement/form_data/publication_date.html' %}
              {% include "announcement/form_data/timezone.html" %}
            </div>
            <div class="card-footer">
              {% if "add" in action %}
                <button type="submit" class="btn btn-primary">
                  Опубликовать
                </button>
              {% else %}
                <button type="submit" class="btn btn-primary">
                  Сохранить
                </button>
              {% endif %}
              {% if "edit" in action %}
              <button type="button" class="btn btn-primary" id="editButton" disabled>
                Отредактировать (выкл)
              </button>
              <button type="button" class="btn btn-primary" id="republishButton" data-toggle="modal" data-target="#republishModal" disabled>
                Переопубликовать (выкл)
              </button>
              <button type="button" class="btn btn-primary" id="deleteButton" disabled>
                Удалить (выкл)
              </button>
              <span id="editError" style="color: red;"></span>
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'announcement/create_tag_modal.html' %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"
  integrity="sha512-U2WE1ktpMTuRBPoCFDzomoIorbOyUv0sP8B+INA3EzNAhehbzED1rOJg6bCqPf/Tuposxb5ja/MAUnC8THSbLQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"
  integrity="sha512-mh+AjlD3nxImTUGisMpHXW03gE6F4WdQyvuFRkjecwuWLwD2yCijw4tKA3NsEFpA1C3neiKhGXPSIGSfCYPMlQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/js/dropzone.js"></script>
<script src="/static/js/tag_creation.js"></script>
<script src="/static/js/datetime_datepicker.js"></script>
<script src="/static/js/timezone.js"></script>
<script src="/static/js/auto_resize.js"></script>
<script>
  let tagSelect = $("#tags").select2();
  $(document).ready(function () {
    // Event handler for form submission
    $("#createTagForm").submit(function (event) {
      event.preventDefault();
      console.log("Form submitted");
      createTag();
    });

    // Event handler for "Create" button click
    $("#createTagButton").click(function () {
      console.log("Create button clicked");
      createTag();
    });
    let tagSelect = $("#tags").select2({
      theme: "bootstrap4",
      formatNoMatches: "Nothing found",
    });
  });
  let shouldSubmitForm = false;
  let existingFiles = []; // Массив для хранения уже существующих файлов
  let isExistingFileBeingAdded = false;
  document.addEventListener("DOMContentLoaded", function () {
    let announcement = JSON.parse('{{announcement|escapejs|safe}}');
    if (announcement != null) {
      let announcementFields = announcement[0].fields;
      document.querySelector(".card-title").textContent =
        "Редактирование объявления";
      document.querySelector("input#name").value = announcementFields.name;
      document.querySelector("textarea#text").value = announcementFields.text;
      var textArea = document.querySelector("textarea#text");
      window.autoResize(textArea);
      document.querySelector("input#price").value = announcementFields.price;
      document.querySelector("input#status").value = announcementFields.status;
      let media = JSON.parse('{{media|escapejs|safe}}');
      console.log(media);
      if (media) {
        media.forEach(function (mediaFile) {
          mediaFileFields = mediaFile.fields;
          let mockFile = {
            name: "/media/" + mediaFileFields.file,
            size: 12345,
            type: mediaFileFields.media_type,
          };
          console.log(mockFile);
          let absoluteURL = new URL("/media/" + mediaFileFields.file, window.location.origin);
          isExistingFileBeingAdded = true;
          myDropzone.displayExistingFile(mockFile, absoluteURL.href);
          isExistingFileBeingAdded = false;

          if (
            !existingFiles.find(
              (existingFile) => existingFile.name === mockFile.name
            )
          ) {
            document.querySelector("#existing-files").value += mediaFileFields.file + ",";
            existingFiles.push(mockFile);
          }
        });
      }
      document.querySelector("input#note").value = announcementFields.note;

      let pubDateWithClientTimezone = new Date(announcementFields.publication_date);
      console.log(pubDateWithClientTimezone);
      let day = pubDateWithClientTimezone.getDate().toString().padStart(2, "0");
      let month = (pubDateWithClientTimezone.getMonth() + 1).toString().padStart(2, "0");
      let year = pubDateWithClientTimezone.getFullYear();
      let hours = pubDateWithClientTimezone.getHours().toString().padStart(2, "0");
      let minutes = pubDateWithClientTimezone.getMinutes().toString().padStart(2, "0");

      document.querySelector(
        "input#publication_date"
      ).value = `${day}.${month}.${year} ${hours}:${minutes}`;
    } else {
      document.querySelector(".card-title").textContent = "Создание объявления";
    }
  });
</script>
{% endblock content %}
